scipy
tldextract
opencv-python
webdriver-manager
pandas
numpy
tqdm
Pillow
pathlib
fvcore
pycocotools
scikit-learn
python-telegram-bot
gspread
oauth2client
editdistance
lxml
cryptography
httpcore
h11
h2
hyperframe
pyopenssl
selenium
selenium-wire

